<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto me-5">
          <a routerLink="" class="navC">Home</a>
          <a routerLink="location" class="navC">Check Weather</a>
          <!-- <a routerLink="weather">Pricing</a> -->
         
        </div>
      </div>
    </div>
  </nav>

<div [ngClass]="cond">
  <div class="cont">
    <div class="cent">cd
      <div class="reg">
        {{ response.location.name }}, {{ response.location.region }},
        {{ response.location.country }}
      </div>
      <div class="temp">{{ response.current.temp_c }}°C</div>
      <div class="other">Feels like {{ response.current.feelslike_c }}°C</div>
      <div class="other">{{ response.current.condition.text }}</div>
      <div class="other">Wind speed: {{ response.current.wind_kph }} km/h</div>
      <div class="other">Humidity level: {{ response.current.humidity }}</div> <br/>
      <div class="rest">
        <div *ngFor="let cast of foreC" class="fo">
          <div class="style">
            {{ cast.date }} <br />
            {{ cast.day.maxtemp_c }}°C <br />
            {{ cast.day.condition.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
